form {
    width: calc(100% - 30px);
    margin: 0 15px;
    border: 1px solid black;
    border-radius: 20px;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
input, .timeframe-select {
    width: 175px;
    height: 40px;
    margin-top: 10px;
}

.data-cont {
    width: fit-content;
    height: fit-content;
    margin: 10px 30px;
    float: left;
}

.cont-title {
    padding-top: 10px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}



.timeframe-select {
    padding: 10px 10px;
    border: 1px solid black; /* Add a black border */
}



.symbol-search {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid black; /* Add a black border */
} 
.symbol-select {
    visibility:hidden;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 10px;
    width: 200px;
    overflow-y: scroll;
}
.symbol-select li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 14px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}.symbol-select li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.symbol-search:focus ~ .symbol-select {
    height: fit-content;
    max-height: calc(37px * 4);
    visibility:visible;
}



.download-button {
    position: relative;
    margin: 10px 30px;
    padding: 10px 10px;
    color: white;
    width: calc(100% - 60px);
}
.enabled {
    background-color: black;
}
.disabled {
    background-color: rgba(255, 0, 0, 0.653);
}

  

  
